---
import Layout from '../layouts/Layout.astro';
import ProfileCard from '../components/ProfileCard'
import Resume from '../components/Resume'
import { contentfulClient } from '../utils';

const data = await contentfulClient
  .getEntries({
    content_type: "section",
    include: 10,
  })
  .then((entry) => entry)
  .catch(console.error) as any;


---
<Layout title="Resume">
	<main class="md:flex justify-between mx-3 mt-3">
		<div class="basis-1/3 mb-3">
			<ProfileCard />
		</div>
		<div class="w-full md:ml-3">
			<Resume data={data.items} />
		</div>
	</main>
</Layout>

<style>
</style>
