---
import Layout from '../layouts/Layout.astro';
import ProfileCard from '../components/ProfileCard'
import Resume from '../components/Resume'
import { contentfulClient } from '../utils';

const resumeData = await contentfulClient
  .getEntries({
    content_type: "section",
    include: 10,
		order: "fields.order"
  })
  .then((entry) => entry)
  .catch(console.error) as any;

const profileData = await contentfulClient
  .getEntries({
    content_type: "profile",
    include: 10,
		limit: 1
  })
  .then((entry) => entry)
  .catch(console.error) as any;

---
<Layout title="Resume">
	<main class="lg:flex justify-between mx-3 mt-3">
		<div class="mb-3 lg:fixed lg:w-[20rem]">
			<ProfileCard data={profileData.items[0].fields}/>
		</div>
		<div class="w-full lg:ml-[20.7rem]">
			<Resume data={resumeData.items} />
		</div>
	</main>
</Layout>

<style>
</style>
